fastapi
uvicorn
python-dotenv
motor
pymongo
google-generativeai
google-genai 
faster-whisper
celery
redis
python-multipart
boto3
python-jose
email-validator
pypdf
PyPDF2
SpeechRecognition
openai
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
